<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    
    <!-------------REMIXICONS------------------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css">
    <title>Register</title>
</head>


<body>
    <div class="Login">
        <img src="/static/cs_image.jpg" alt="image" class="login__bg">
        <form action="/register" method="POST" class="Login_form">
            <h1 class="login__title">Register</h1>

            <div class="login__inputs">
                <!--<div class="login__box">
                    <input type="text" placeholder="" required class="login__input">
                </div>-->

                <div class="login__box">
                    <input type="email" class="login__input" id= "email" name="email" placeholder="Email ID" required>
                    <i class="ri-mail-fill"></i>
                </div>

                <div class="login__box">
                    <input type="text"  class="login__input" id="name" name="name" placeholder="User name" required >
                    <i class="ri-user-fill"></i>
                </div>

                <div class="login__box">
                    <input type="password"  class="login__input" id="password" name="password" placeholder="Password" required>
                    <i class="ri-lock-2-fill"></i>
                </div>

              <!-- <div class="login__box">
                    <input type="password"  class="login__input" placeholder="Confirm Password" required>
                    <i class="ri-lock-2-fill"></i>
                </div>-->
            </div>


            <a href="/templates/login.html" target="_blank">
                <input type="button" value="Register" class="login__button" ></a>

        </form>
    </div>
</body>
</html>